/Entity.class
/Environment.class
/Pair.class
/Predicate$Int.class
/Predicate$ParamType.class
/Predicate.class
/PredicateReader.class
/Solution.class
/TAallocationPredicates.class
/Test$TestInst.class
/Test.class
/Input.class
